@charset "UTF-8";
/* CSS Document */

body {
	background-color: white;
	width: 50%;
}

br {
	color: rgba(159,0,90,1.00);
	border-bottom: 1px;
}

h1 {
	font-family: "Times New Roman", Times, Georgia, serif;
	font-size: 32px;
	color: rgba(159,0,90,1.00);
}

h2 {
	font-family: "Times New Roman", Times, Georgia, serif;
	font-size: 24px;
	color: rgba(159,0,90,1.00);
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black;
}

ol {
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

dl {
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}